<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find my_first_robot)/launch/my_robot_description.launch"/>

  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <!-- World File -->

  <!-- Launch Gazebo World -->
  <include file="$(find my_first_robot)/launch/my_world.launch"/>
  <!-- Find my robot Description-->
  <param name="my_robot_description" command="$(find xacro)/xacro --inorder '$(find my_first_robot)/urdf/my_robot.xacro'"/>

  <!-- Spawn My Robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param my_robot_description -model my_first_robot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
              
  <!--launch rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!--node name="rviz" pkg="rviz" type="rviz" respawn="false"/-->



</launch>
